%head
	%script{:type=>"text/javascript", :src=>"js/jquery-1.11.3.min.js"}
	%script{:type=>"text/javascript", :src=>"js/main.js"}
	%script{:type=>"text/javascript", :src=>"js/bootstrap.js"}

	%link{:rel=>"stylesheet", :href=>"css/bootstrap.css"}
	%link{:rel=>"stylesheet", :href=>"css/common.css"}
%body
	%div{:class => "row margin-top-50"}
		%div{:id => "input", :class=>"col-md-6 col-md-offset-1"}
			%form
				%div{:class=>"form-group"}
					%label{:for => "code"} Code:
					%textarea{:name => "code", :id => "code", :rows => 20, :class => "col-md-6 form-control margin-bottom-20"}
				
				%div{:class=>"form-group"}
					%input{:type => "button", :value => "Run Code", :id => "submit-btn",  :class=>"btn btn-default"}
		%div{:id => "output-div", :class=>"col-md-4"}
			%label Program Output:
			%div{:id => "output", :class=>"well"}
